
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --note-bg: #ededed;
  --button-bg: #1b252c;
  --button-hover-bg: #454749;
  --white: #ffffff;
  --font-family-roboto: "roboto", sans-serif;
}

body{
    font-family: var(--font-family-roboto);
}
.app {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.form-holder {
  display: flex;
  justify-content: center;
  margin: 0 auto 3rem;
  max-width: 300px;
}
h2{
    margin: 10px 0;
}
select {
	padding: 10px;
	width: 100%;
}
.note-form input,
.note-form textarea {
  width: 100%;
  margin: 12px 0;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: var(--font-family-roboto);
}

.note-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--button-bg);
  color: var(--white);
  border: 0;
  font-family: var(--font-family-roboto);
}

.note-form button:hover {
  background-color: var(--button-hover-bg);
}

.note {
  background: var(--note-bg);
  border: 1px solid var(--white);
  padding: 15px;
  margin-bottom: 10px;
  cursor: grab;
}

.task {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.task span {
  margin-left: 10px;
}

.task span.completed {
  text-decoration: line-through;
}

h1 {
  text-align: center;
}


.notes {
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
}
.notes-list {
	flex-basis: calc(23% - 20px);
	margin: 0 10px 10px;
}
.note button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: var(--button-bg);
  color: var(--white);
  border: none;
  margin: 2px;
  cursor: pointer;
}

.note button:hover {
  background-color: var(--button-hover-bg);
}



@media (max-width: 1200px) {
    .notes-list {
        flex-basis: calc(30% - 20px);
    }
  }
  
  @media (max-width: 800px) {
    .notes-list {
        flex-basis: calc(50% - 20px);
    }
  }
  
  @media (max-width: 500px) {
    .notes-list {
        flex-basis: 100%;
        margin: 0 0 10px;
    }
  }